#home {
  text-align: center;
  font-family: "Bradley Hand";
  color: black;
}

.form-control {
  width: 10rem;
  display: inline;
  height: 1.8rem;
  font-size: 0.7rem;
  text-align: center;
}

.col-form-label {
  font-size: 1rem;
}
.form-check-label {
  font-size: 1.3rem;
  margin: 0 4rem;
}
.form-group {
  margin: 3rem 0;
}
.blankimg {
  display: block;
  margin: auto;
  margin-bottom: -2.2rem;

}
#blanktxt {
  position: absolute;
}
input:focus{
  outline: none;
}
input {
  border: none;
}
.form-check-input {
  position: relative;
  margin-left: -1rem;
  border: none;
}
#example-date-input {
  margin-left: 2rem;
}
